body {
	font-family: 'Inconsolata', ;
	text-align: center;
	background: url(/img/debut_dark.png);
	color: rgba(255, 255, 255, 0.59);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: rgba(255, 255, 255, 1);
}

a:visited {
	color: inherit;
	text-decoration: none;
}

#wrapper {
	display: inline-block;
	background: rgba(0, 0, 0, 0.31);
	margin: 0 auto;
	padding: 10px 17px;
	-webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

.title {
	font-size: 64px;
}

thead {

	background-color: rgba(140, 140, 140, 0.11);

}

td, th {
    padding: 10px;
}

tr td:first-child + td {
	text-align: right;
}

tr.off {
	color: rgba(140, 140, 140, 0.3);	
}

tr.on {
}
table {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}

.copiable {
	cursor: pointer;
	background: none!important;
	border: none;
	padding: 0!important;
	font: inherit;
	color: inherit;
	transition: all 0.8s cubic-bezier(0,1.05,.3,.3);
}

.copiable:hover, .copiable:focus, .copiable:visited {
	border:none;
	outline:none;
}

.footer {
	color: rgba(140, 140, 140, 0.3);
	font-size: 8pt;
	padding: 10px;
}

.copiable:active {
	color: rgba(255, 255, 255, 1);
}
